body {
	height: 100%;
}

#header {
	margin: auto;
}

#navbar {
	border-radius: 0;
	background-color:#a1d3e2 ;
	color: #000000;
	font-family: sans-serif;
	border-color: #ffffff;
}

#trans {
	text-align: center;
}

#caption {
	margin-left:150px;
}

#panel_config {
	text-align: center;
}
.pdfobject-container {
	height: 600px;
	width: 100%;
	margin-top: 5px;
}

.pdfobject {
	border: 1px solid #666;
}
.tags-unete{
	background-color:#a1d3e2 ;

    min-width: 295px;
}

.control-group{
    margin-top: 5px;
}

