body{
	height: 100%;
}

#header{
	margin: auto;
}

#navbar{
	border-radius: 0px;
	background-color:#a1d3e2 ;
	color: #000000;
	font-family: sans-serif;
	border-color: #ffffff;

}

#trans{
	text-align: center;}

#caption{
	margin-left:150px;
}