{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
		<meta charset="utf-8">
		<title>SIGPAE</title>
    
	    {% block css %}
			<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">

	    {% endblock css %}

	    {% block custom_css%}
	    {% endblock custom_css %}
	{% endblock head %}
</head>
<body>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"></div>
		<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8"> 
			<div >
				<img id="header" class="img-responsive" src="{% static 'images/usb.JPG'%}">
			</div>
			<nav id="navbar" class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="{% url 'home' %}">SIGPAE</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li><a href="{% url 'agregar_pdf' %}">Transcribir</a></li>
			      <li><a href="{% url 'pdf_list' %}">Transcripciones en curso</a></li>
			      <li><a href="{% url 'programa_list' %}">Consultar programas en SIGPAE</a></li>

			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
			    </ul>
			  </div>
			</nav>
		</div>
			
		<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"></div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"></div>
		<div class=" content col-lg-8 col-md-8 col-xs-8 col-sm-8"> 
	        {% block content %}
	        {% endblock %}
		</div>
			
		<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"></div>
	</div>
{% block script %}
	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

{% endblock %}

{% block custom_script %}

{% endblock %}
</body>
</html>