{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>SIGPAE</title>
    
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
        {% endblock css %}

        {% block custom_css%}
        {% endblock custom_css %}
    {% endblock head %}
</head>
<body class="container">
    <div class="row">
        <div id="header-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img id="header" class="img-responsive" src="{% static 'images/usb.JPG'%}">
        </div>
        <nav id="navbar" class="navbar navbar-inverse col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">SIGPAE</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'agregar_pdf' %}">Transcribir</a></li>
                    <li><a href="{% url 'pdf_list' %}">Transcripciones</a></li>
                    <li><a href="{% url 'programa_list' %}">Programas en SIGPAE</a></li>
                    <li><a href="{% url 'siglas_list' %}">Siglas propuestas</a></li>
                    <li><a href="{% url 'pasa_list' %}">Transcipciones propuestas</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div> 
        {% block content %}
        {% endblock %}
    </div>

{% block script %}
    
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript">
        $(window).resize(function(){
         if($(window).width()<992){
          $('body').removeClass('container');
         }
         else if ($(window).width()>992){
          $('body').addClass('container');
         }
        });
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
        
    </script>


{% endblock %}

{% block custom_script %}

{% endblock %}
</body>
</html>