{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/display_program.css' %}">
{% endblock %}
{% block content%}

		<div class="row">
		<div class="table-responsive">
			
			<table class="table table-programa">
				<thead>
					<h1>Detalles del programa de {{solicitud.denominacion}}</h1>
				</thead>
				<tr>
					<td class="detail"> Código de la materia:</td>

					<td class="content">{{solicitud.codigo}}</td>
				</tr>
				<tr>
					<td class="detail"> Período de entrada en vigencia:</td>

					<td class="content">{{programa.fecha_vigTrim}} {{programa.fecha_vigAno}}</td>
				</tr>
				<tr>
					<td class="detail"> Requisitos de créditos: </td>
					{% if solicitud.requisitos_cred  %}
						<td class="content">Si tiene</td>
					{% else %}
						<td class="content">No tiene requisitos</td>
					{% endif %}
				</tr>
				<tr>
					<td class="detail">Objetivos Generales:</td>

					<td class="content">{{programa.obj_g}}</td>
				</tr>
				<tr>
					<td class="detail"> Objetivos Específicos:</td>
					{% if programa.obj_e != "" %}

						<td class="content">{{programa.obj_e}}</td>
					{% else %}
						<td>No han sido detallados los objetivos específicos</td>
					{% endif %}
				</tr>
				<tr>
					<td class="detail"> Horas de teoría:</td>

					<td class="content">{{programa.h_teoria}}</td>
				</tr>
				<tr>
					<td class="detail"> Horas de práctica:</td>

					<td class="content">{{programa.h_prac}}</td>
				</tr>
				<tr>
					<td class="detail"> Horas de laboratorio:</td>

					<td class="content">{{programa.h_lab}}</td>
				</tr>
				<tr>
					<td class="detail"> Total de horas semanales:</td>

					<td class="content">{{horas_semanales}}</td>
				</tr>
				<tr>
					<td class="detail"> Contenidos Sinópticos:</td>

					<td class="content">{{programa.sinoptico}}</td>
				</tr>
				<tr>
					<td class="detail"> Estrategias Metodológicas:</td>

					<td class="content">{{programa.estrategias}}</td>
				</tr>
				<tr>
					<td class="detail"> Estrategias de Evaluación:</td>

					<td class="content">{{programa.estrat_eval}}</td>
				</tr>
				<tr>
					<td class="detail"> Fuentes de Información</td>

					<td class="content">{{programa.fuentes}}</td>
				</tr>
				<tr>
					<td class="detail"> Coordinacion: </td>

					<td class="content">{{solicitud.coordinacion}}</td>
				</tr>
				<tr>
					<td class="detail"> Créditos: </td>

					<td class="content">{{solicitud.creditos}}</td>
				</tr>
				<tr>
					<td class="detail"> Decanato: </td>

					<td class="content">{{solicitud.decanato}}</td>
				</tr>


			</table>

		</div>
		</div>



{% endblock %}