{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>SIGPAE</title>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/transcriptor.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker3.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.standalone.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker3.standalone.min.css' %}">
</head>
<body>
    <div class="row">
        <div id="panel_config" class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <button id="config_2" class="boton">Configuracion 2</button>
            <button id="volver" class="boton" >Configuracion 1</button>
            <a href="{{request.META.HTTP_REFERER}}"><button id="back" class="boton" >Volver</button></a>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-7"></div>
    </div>

	<div class="row">
		<div id="documento" class="col-lg-5 col-md-5 col-xs-5">
            <div id="pdf" class="pdfobject-container"></div>
		</div>
        <div id="formulario" class="col-lg-7 col-md-7 col-sm-7 col-xs-7 ">
            <form id="form" enctype="multipart/form-data" action="" method="post" accept-charset="utf-8" class="form-group" role="form" novalidate>
                {% for field in formulario %}
                    {% if field.name == "periodo" %}
                        <div class= "vigencia-top can_hide">
                            <h4>Periodo de vigencia</h4>
                            <div class="control-group" id="{{field.name}}-state">
                                <div class="input-group {{field.name}}">
                                    <span class="input-group-addon tags-unete can_hide" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                </div>
                                <span class="error" id="{{ field.name }}-icon"></span>
                                <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                {{ field.errors }}
                            </div>
                        </div>
                    {% elif field.name == "texto" %}
                        <div class="control-group" id="{{field.name}}-state">
                            <div class="input-group {{field.name}}">
                                <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                            </div>
                            <span class="error" id="{{ field.name }}-icon"></span>
                            <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                            {{ field.errors }}
                        </div>
                    {% else %}
                        <div class="control-group" id="{{field.name}}-state">
                            <div class="input-group {{field.name}}">
                                <span class="input-group-addon tags-unete can_hide" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                            </div>
                            <span class="error" id="{{ field.name }}-icon"></span>
                            <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="control-group" >
                    <div class="input-group">
                        <span class="input-group-addon tags-unete can_hide" id="basic-addon1"><b>Encargado:</b></span>
                        {% if encargado != None %}
                        <input aria-describedby="basic-addon1" class="form-control can_hide " value="{{encargado}}" id="encargado" type="text" readonly title="encargado">
                        {% else %}
                        <input aria-describedby="basic-addon1" name="encargado1" class="form-control can_hide " id="encargado" value="" type="text" readonly title="encargado1">
                        {% endif %}
                    </div>
                    <span class="error" id="{{ field.name }}-icon"></span>
                    <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                    {{ field.errors }}
                </div>
                <input id="Departamento" class="encargado can_hide" type="checkbox" name="check" value="Departamento" title="check"> <b class="can_hide"> Departamento</b>
                <input id="Coordinacion" class="encargado can_hide" type="checkbox" name="check" value="Coordinacion" title="check"><b class="can_hide"> Coordinación</b>
                <select id="departamentos" class="dinamica form-control" name="departamentos" title="departamentos"></select>
                <select id="decanatos" class="dinamica form-control" title="decanatos"></select>
                <select id="coordinaciones" name="coordinacion" class="dinamica form-control" title="coordinacion"></select>
                
                {% for field in campos %}
                    <div class="control-group" id="{{field.name}}-state">
                        <div class="input-group {{field.campo_adicional}}">
                            <span class="input-group-addon tags-unete can_hide" id="basic-addon1"><b>{{ field.campo_adicional }}:</b></span>
                        </div>
                        <input name="{{field.campo_adicional}}" aria-describedby="basic-addon1" class="form-control can_hide " value="{{field.contenido}}" type="text" title="{{field.campo_adicional}}">
                    </div>
                {% endfor %}
                
                <div id="formset">
                    <div class="campos_adicionales">
                        <select name="campo_adicional" class="nombre_campo form-control form-control-sigpae" title="campo adicional">
                            <option value="">------------</option>
                            <option value="ninguna">Otro Campo</option>
                            {% for n in nombres%}
                            <option value="{{n.nombre}}">{{n.nombre}}</option>
                            {% endfor %}
                        </select>
                        <input class='campo input-sigpae' type="text" name="contenido_campos" title="contenido campos">
                    </div>
                </div>
                <a id="agregar" class="can_hide">Agregar campo adicional.</a>
                <a id="agregar_otro">Agregar otro.</a>

                <input type="hidden" name="pdf_id" value="{{ pdf.id }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                
                <!-- Modal -->
                <div id="confirmacion" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirmación</h4>
                            </div>
                            <div class="modal-body">
                                <h3>Este código no se encuentra registrado, en caso de estar seguro de que sea correcto, confírmelo:</h3>
                                <span>Código</span>
                                <input id="codigo2" type="text" name="codigo2" value="" title="codigo2">
                                <span>Siglas</span>
                                <input id="siglas2" type="text" name="siglas2" value="" title="siglas2">
                                   
                            </div>
                            <div class="modal-footer"> 
                                <button  type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                                <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                            
                {% if not modifying %}
                <!-- Modal de extraccion de codigo -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            {% if pdf.codigo %}
                                <h4 class="modal-title">Se extrajo este código</h4>
                            </div>
                            <div class="modal-body">
                                <input id="codigo" type="text" name="codigo" value="{{pdf.codigo}}" title="codigo">
                                {% if departamento  %}
                                    <h3>Se logró asociar el código al siguiente departamento:</h3> 
                                    <input id="asociacion" type="text" name="" class="input-sigpae1" value="{{departamento.nombre}}" title="asociacion">
                                {% elif prefijo %}
                                    <h3>No se logro asociar el codigo a un departamento pero si a:</h3>
                                    <input id="asociacion_sin_dep" type="text" name="" value="{{prefijo.asociacion}}" title="asoc. sin dept">

                                {% else %}
                                    <h3>No se pudo asociar el código a ningún departamento, ¿Quiere Proponerlo?</h3>
                                    <button id="si" type="button" class="btn btn-default">Si</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    <div id="preForm">
                                        <input type="text" name="siglas" value="{{siglas}}" title="siglas">
                                        <select name="asociacion" title="asociacion">
                                        <option value="">Ninguno</option>
                                        {% for d in departamentos %}
                                            <option value="{{d.nombre}}">{{d.nombre}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                            
                                {% endif %}
                            </div>
                            <div class="modal-footer"> 
                                <button id="aceptar" type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                            {% else %}
                                <h3>No se pudo extraer el código</h3>
                            {% endif %}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </form>
            <div id="nuevo_campo" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Escriba el nuevo campo que desea agregar</h4>
                        </div>
                        <div class="modal-body">
                            <input id="newEntry" type="text" name="newEntry" title="newEntry">
                        </div>
                        <div class="modal-footer"> 
                            <button id="aceptarNewEntry" type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="falloCreado" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">El Campo Adicional ya se encuentra en la lista de campos actual</h4>
                        </div>
                        <div class="modal-footer"> 
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="botonTrans1" id="button-signup">Guardar Cambios</button>
        </div>
    </div>


 
{% block custom_script %}
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/pdfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>
    <script>

        $(document).ready(function() {

            var $agregar_otro = $('#agregar_otro');
            var $campos_adicionales = $('.campos_adicionales');
            
            $(document).on('change', 'select[name="campo_adicional"]', function(){
                if ($(this).val() == "ninguna") {
                    var $nuevo_campo = $('#nuevo_campo');
                    $nuevo_campo.modal('toggle');
                    $nuevo_campo.modal('show');
                }
            });
            
            $campos_adicionales.hide();
            
            $agregar_otro.hide();

            var $myModal = $('#myModal');
            $myModal.modal('toggle');
            $myModal.modal('show');
            
            var asociacion = $('#asociacion').val();
            $('#aceptar').click(function(){
              $('#encargado').val(asociacion);
            });

            $('#close').click(function(){
              $('#id_codigo').val("");
            });
            
            $('#preForm').hide();

            $('#si').click(function() {
                var $aprobado = $('.aprobado');
                $aprobado.hide();
                $aprobado.removeAttr( "checked" );
                $('#preForm').show();
            });

            $(".dinamica").hide();
            
            $("#drag").css('display','none');

            PDFObject.embed("{{ pdf.pdf.url }}" , "#pdf");

            var id = 1;

            $('#agregar').click(function(){
                $campos_adicionales.attr('id', 'nombre'+ (id).toString());
                $campos_adicionales.show();
                $('#agregar').hide();
                $agregar_otro.show();
                
            });

            $agregar_otro.click(function(){
                id = id +1;
                $agregar_otro.show();
                $campos_adicionales.first().clone().appendTo( "#formset" );
                $('.campo').last().val('');
                $campos_adicionales.last().attr('id', 'nombre'+(id).toString());
                
            });


            $('#config_2').click(function() {
                $(".can_hide").hide();
            });

            $('#volver').click(function() {
                var $documento = $("#documento");
                $("#div1").css('display','none');
                $documento.css('display','block');
                $("#formulario").before($documento);
                $(".can_hide").show();
            });
        });

        $('#aceptarNewEntry').click(function() {
            $.ajax({
                url: '{% url "crearCampo" %}',
                data: {
                    'campo' : $('#newEntry').val()
                },
                dataType: 'json',
                success: function(data){
                        if(data.creado) {
                            $('.nombre_campo').each(function() {
                                var option = $(this).val();
                                $(this).append($('<option>', {
                                value: data.nombre,
                                text: data.nombre
                                }));
                                if( option == "ninguna" ) {
                                    $(this).val(data.nombre);
                                }
                            });
                        }
                        else{
                            var $falloCreado = $('#falloCreado');
                            $falloCreado.modal('toggle');
                            $falloCreado.modal('show');
                        }
                }
            });
        });       

        $('#button-signup').click(function(){
            event.preventDefault();
            var inputs = $('.horas');
            var total = 0;
            for(var i = 0; i < inputs.length; i++){
                total = total + parseInt($(inputs[i]).val());
                console.log(total);
            }
            if (parseInt(total) > 40){
                
                alert("El número de horas semanales no puede superar las 40 horas.");
                
            }
            else{
                $('#form').submit();
            }
        });

        $('input').on('change', function() {
            $('input').not(this).prop('checked', false);  
        });

        $('.encargado').click(function(){
            if ($(this).attr('id') == 'Departamento'){
                var $departamentos = $('#departamentos');
                $departamentos.show();
                $('#decanatos').hide();
                $('#coordinaciones').hide();
                
                $departamentos.find('option').remove().end();

                $.ajax({
                    url: '{% url "encargado" %}',
                    data: {
                        'encargado' : $(this).attr('id')
                    },
                    dataType: 'json',
                    success: function(data){
                            var tamano = data.departamento.length;
                            for (var i = 0; i < tamano; i++) {
                                $('#departamentos').append($('<option>', {
                                    value: data.departamento[i].nombre,
                                    text: data.departamento[i].nombre
                                }));
                                
                            }
                    }
                });
            }
            else{
                var $decanatos = $('#decanatos');
                $decanatos.show();
                $('#departamentos').hide();

                $decanatos.find('option').remove().end();
                $.ajax({
                    url: '{% url "encargado" %}',
                    data: {
                        'encargado' : $(this).attr('id')
                    },
                    dataType: 'json',
                    success: function(data){
                            var tamano = data.decanatos.length;
                            var $decanatos = $('#decanatos');
                            $decanatos.append($('<option>', {
                                value: '---',
                                text: '---'
                            }));
                            for (var i = 0; i < tamano; i++) {
                                $decanatos.append($('<option>', {
                                    value: data.decanatos[i].id,
                                    text: data.decanatos[i].nombre
                                }));
                                
                            }
                    }
                });
            }
        });
        
        $('#decanatos').change(function(){
            $('#coordinaciones').find('option').remove().end();
            $.ajax({
                url: '{% url "encargado" %}',
                data: {
                    'decanato' : $(this).val()
                },
                dataType: 'json',
                success: function(data){
                    var $coordinaciones = $('#coordinaciones');
                    $coordinaciones.show();
                    var tamano = data.coordinaciones.length;
                    for (var i = 0; i < tamano; i++) {
                        console.log(data.coordinaciones[i].nombre);
                        $coordinaciones.append($('<option>', {
                            value: data.coordinaciones[i].nombre,
                            text: data.coordinaciones[i].nombre
                        }));
                    }
                }
            });
        });

        var min_date = new Date("1969/1/1");
        var max_date = new Date();

        $('#id_año').datepicker({
                minViewMode: 2,
                maxViewMode: 2,
                format: 'yyyy',
                autoclose: true,
                language: 'es',
                startDate: min_date,
                endDate: max_date
        });
        

        $('#id_fecha_elaboracion').datepicker({
                minViewMode: 0,
                maxViewMode: 2,
                format: 'yyyy/mm/dd',
                autoclose: true,
                language: 'es',
                startDate: min_date,
                endDate: max_date
        });

        $('#id_fecha_elaboracion').change(function(){
            var fecha = new Date($(this).val());
            $("#id_periodo").css('background-color','#fff');
            $(this).css('background-color','#fff');
            
            if (fecha.getMonth() == '0'){
                $('#id_periodo').val('ene-mar');
                $('#id_año').val(fecha.getFullYear());

            }
            else if (fecha.getMonth() == '1' || fecha.getMonth() == '2' || (fecha.getMonth() == '3' && fecha.getDate() <= 15) ){
                $('#id_periodo').val('abr-jul');
                $('#id_año').val(fecha.getFullYear());
            }
            else if(( fecha.getMonth() >=4 && fecha.getMonth()<=8) || fecha.getMonth() == '3' && fecha.getDate() > 15){
                $('#id_periodo').val('sep-dic');
                $('#id_año').val(fecha.getFullYear());
            }
            else{
                $('#id_periodo').val('ene-mar');
                $('#id_año').val(fecha.getFullYear()+1);
            }
        });

        $('#id_periodo').change(function(){
            var periodo = $(this).val();
            var fecha = new Date($("#id_fecha_elaboracion").val());
            if (periodo == 'ene-mar' && ((fecha.getMonth() != 0) && (fecha.getMonth() != 9) && (fecha.getMonth() != 10) && (fecha.getMonth() != 11))){
                $(this).css('background-color','#ea1737');
                $("#id_fecha_elaboracion").css('background-color','#ea1737');

            }
            else if (periodo == 'abr-jul' && ((fecha.getMonth() != 1) && (fecha.getMonth() != 2) && ((fecha.getMonth() != 3 || fecha.getDate() > 15)) )){
                $(this).css('background-color','#ea1737');
                $("#id_fecha_elaboracion").css('background-color','#ea1737');

            }
            else if (periodo == 'sep-dic' && (( fecha.getMonth() < 4 || fecha.getMonth() > 8) && (fecha.getMonth() != '3' || fecha.getDate() <= 15))){
                $(this).css('background-color','#ea1737');
                $("#id_fecha_elaboracion").css('background-color','#ea1737');

            }
            else{
                $(this).css('background-color','#fff');
                $("#id_fecha_elaboracion").css('background-color','#fff');
            }

        });

        $('#id_codigo').change(function(){
            var codigo = $(this).val();
            $.ajax({
                url: '{% url "siglas" %}',
                data: {
                    'codigo' : codigo
                },
                dataType: 'json',
                success: function(data){
                    var respuesta = data.respuesta;
                    var siglas = data.siglas;
                    if (respuesta == ""){
                        var $confirmacion = $('#confirmacion');
                        $confirmacion.modal('toggle');
                        $confirmacion.modal('show');
                        $('#siglas2').val(siglas);
                        $('#codigo2').val(codigo);

                    }
                }
            });
        });

    </script>
{% endblock %}
</body>
</html>
