{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
		<meta charset="utf-8">
		<title>SIGPAE</title>

	    {% block css %}
			<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
	    {% endblock css %}
	{% endblock head %}
</head>
<body>
	<div class="row">
		<div class="col-lg-6">
            <div id="pdf"></div>
		</div>


            <div class="col-lg-6">
                <form enctype="multipart/form-data" action="" method="post" accept-charset="utf-8" class="form-group" role="form" novalidate>
                {{ csrf_token }}
                    {% for field in formulario %}
                        <div class="control-group" id="{{field.name}}-state">
                            <div class="input-group">
                                <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                            </div>
                            <span class="error" id="{{ field.name }}-icon"></span>
                            <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button class="btn" type="submit" value="Registrar" id="button-signup">Transcribir</button>
                </form>
            </div>

    </div>
{% block script %}
    <script type="text/javascript" src="{% static 'js/pdfobject.js' %}"></script>
    <script>

        PDFObject.embed("{{ pdf.pdf.url }}" , "#pdf");
    </script>
{% endblock %}
</body>
</html>
