{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
			<div id = "trans" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="img-responsive" src="{% static 'images/pdftexto.png' %}" alt="pdftexto.png">
                <h3>Transcribe el programa de estudio </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <div id = "trans1" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <p><a href="{% url 'agregar_pdf' %}"  class="botonTrans" role="button">Transcribir</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        </div>
    </div>
{% endblock %}

