{%  extends 'base.html' %}

{% load static %}

{% block content %}
    <form enctype="multipart/form-data" action="" method="post" accept-charset="utf-8" class="form-group" role="form" novalidate>
    {% for field in formulario %}
        <div class="control-group" id="{{field.name}}-state">
                                            <div class="input-group">
                                                <span class="input-group-addon tags-unete" id="basic-addon1"><b>{{ field.label }}:</b></span>{{ field }}
                                            </div>
                                            <span class="error" id="{{ field.name }}-icon"></span>
                                            <span class='error' id='{{field.name}}-error' aria-live="polite"></span>
                                            {{ field.errors }}
                                        </div>
    {% endfor %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button class="btn" type="submit" value="Registrar" id="button-signup">Transcribir</button>
    </form>

{% endblock %}