{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 ">
            <table id="tabla" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Periodo</th>
                        <th>Año</th>
                        <th>Última modificación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for programa in programas %}
                    <tr>
                        <td>
                            {% if programa.denominacion != None and programa.denominacion != "" %}
                                <a href="{% url 'ModifyPDF' programa.id %}">{{programa.denominacion}}</a>
                            {% else %}
                                <a href="{% url 'ModifyPDF' programa.id %}">{{ pdf_names|lookup:forloop.counter0 }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if programa.periodo != None %}
                                {{ programa.periodo }}
                            {% else %}
                                No especificado
                            {% endif %}
                        </td>
                        <td>
                            {% if programa.año != None %}
                                {{ programa.año }}
                            {% else %}
                                No especificado
                            {% endif %}

                        </td>
                        <td>
                            {{ programa.fecha_modificacion }}
                        </td>
                        <td>
                            {% if programa.pasa%}
                            <a data-toggle="modal" href="#contactModal{{programa.id}}">Proponer</a>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for programa in programas%}
    <div class="modal fade" id="contactModal{{programa.id}}" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Datos del Transcriptor</h3>
          </div>
          <div class="modal-body">
            <label>Nombres: <input id="nombre{{programa.id}}" type="text" name="nombre"></label>
            <label>Apellidos: <input id="apellido{{programa.id}}" type="text" name="apellido"></label>
            <label> Correo: <input id="correo{{programa.id}}" type="text" name="correo"></label>
              <label>Telefono: <input id="tlf{{programa.id}}" type="text" name="tlf"></label>
     
          </div>
        <div class="modal-footer">
            <button id="Transcriptor{{programa.id}}" type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
            <button type="button" data-dismiss="modal">No</button>
        </div>
        </div>
      </div>
    </div>
    {% endfor%}
{% endblock %}

{% block custom_script %}
    

    <script>
        var tabla = $('#tabla').DataTable({
            "language": {
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar: ",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":    "Último",
                    "sNext":    "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "bPaginate": false,
            "columnDefs": [
                { "width": "20%", "targets": 0 },
                { "width": "20%", "targets": 1 }

            ]


        });
    </script>

    <script>
        $(document).ready(function(){
            {% for p in programas%}
            $("#Transcriptor{{p.id}}").click(function(){
                $.ajax({
                    url: '{% url "ProponerTranscripcion" %}',
                    data: {
                        'nombre' : $('#nombre{{p.id}}').val(),
                        'apellido': $('#apellido{{p.id}}').val(),
                        'correo': $('#correo{{p.id}}').val(),
                        'tlf' : $('#tlf{{p.id}}').val(),
                        'programa' : {{p.id}}
                    },
                    dataType: 'json',
                    success: function(data){
                            if(data.creado) {
                                alert('El programa ha sido propuesto');
                            }
                            else{
                                if (!data.completo){
                                    alert("Los datos que introdujo son inválidos")
                                }
                                else{
                                    
                                alert('Otro programa con la misma denominacion y fecha de vigencia ya ha sido propuesto');
                                }
                            }
                    }
                });
            });
            {% endfor %}

        });
    </script>

{% endblock %}